/* @class="TRU.web.component.DemoTitle" */
.demoTitle {
	color: black;
	background: #c5d6d6;
	background-image: url(/csp/broker/images/titlegradient.png);
	background-repeat: repeat-y;
	background-position: right;
	width: 100%;
	padding: 0px;
	border-bottom: 1px solid darkblue;
	font-size: 1.4em;
	font-family: verdana;
	text-align: center;
}
/* EOF */